/* Style global de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style des en-têtes */
h1 {
    color: #333;
    font-size: 36px;
    margin-top: 20px;
}

h2 {
    color: #555;
    font-size: 24px;
    margin-top: 30px;
}

h3 {
    color: #777;
    font-size: 20px;
    margin-top: 20px;
}

/* Style des listes */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Style des liens */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style des images *//* Style global des images */
img {
    max-width: 60%; /* Réduit la taille des autres images */
    height: auto;
    display: block;
    margin: 10px auto;
}
/* Style spécifique pour l'image de profil */
img[src="images/profil.jpg"] {
    max-width: 150px; /* Taille réduite pour le profil */
    height: 150px;
    border-radius: 50%; /* Rend l'image circulaire */
    display: block;
    margin: 10px 0 10px 10px; /* Marge pour aligner à gauche */
    float: left; /* Aligner l'image à gauche */
}
/* Ajouter un style pour effacer le flottement après l'image de profil */
.section-after-profile { /* Remplacez par la classe/id réel de la section suivante */
    clear: both;
}
/* Règle spécifique pour l'image daramic.png */
img[src="images/daramic.png"] {
    max-width: 190px; /* ou les dimensions souhaitées */
    height: 106px; /* ou les dimensions souhaitées */
}
/* Règle pour les autres images */
img:not([src="images/profil.jpg"]):not([src="images/daramic.png"]) {
    max-width: 476px; /* Même largeur que daramic.png */
    height: 106px; /* Même hauteur que daramic.png */
    display: block;
    margin: 10px auto;
}


